# Xcode
.DS_Store
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/xcode/package.xcworkspace/
.build/
Packages/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Code Injection
iOSInjectionProject/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Temporary files
*.swp
*~
